!Infinality suggested settings
Xft.antialias:          1
Xft.autohint:           0
Xft.dpi:                96
Xft.hinting:            1
Xft.hintstyle:          hintfull
Xft.lcdfilter:          lcddefault
Xft.rgba:               rgb

! Solarized background and foreground for rxvt/urxvt
*Rxvt*background: #002b36
*Rxvt*foreground: #839496

! Tango Color Theme rxvt/urxvt
 *Rxvt*color0: rgba:1b1b/0808/0202/CCCC
 *Rxvt*color1: rgb:cccc/0000/0000
 *Rxvt*color2: rgb:4e4e/9a9a/0606
 *Rxvt*color3: rgb:c4c4/a0a0/0000
 *Rxvt*color4: rgb:3434/6565/a4a4
 *Rxvt*color5: rgb:7575/5050/7b7b
 *Rxvt*color6: rgb:0606/9820/9a9a
 *Rxvt*color7: rgb:d3d3/d7d7/cfcf
 *Rxvt*color8: rgb:5555/5757/5353
 *Rxvt*color9: rgb:efef/2929/2929
*Rxvt*color10: rgb:8a8a/e2e2/3434
*Rxvt*color11: rgb:fcfc/e9e9/4f4f
*Rxvt*color12: rgb:7272/9f9f/cfcf
*Rxvt*color13: rgb:adad/7f7f/a8a8
*Rxvt*color14: rgb:3434/e2e2/e2e2
*Rxvt*color15: rgb:eeee/eeee/ecec

! rxvt/urxvt misc
*Rxvt*font:             xft:Anonymous Pro:style=Regular:size=14
*Rxvt*boldFont:         xft:Anonymous Pro:style=Bold:size=14
*Rxvt*lineSpace:        1
*Rxvt*.iconFile:        /usr/share/icons/Adwaita/32x32/apps/utilities-terminal.png
*Rxvt*internalBorder:   0
*Rxvt*scrollBar:        false
*Rxvt*secondaryscroll:  true
*Rxvt*matcher.button:   1
*Rxvt*colorBD:          #268bd2
*Rxvt*colorUL:          #859900
*Rxvt*cursorBlink:      false
*Rxvt*cursorColor:      #ffffff
*Rxvt*transparent:      false
*Rxvt*shading:          15
*Rxvt*geometry:         81x26
*Rxvt*fading:           30
*Rxvt*allow_bold:       true
*Rxvt*dynamicColors:    on
*Rxvt*depth:            24
*Rxvt*mapAlert:         true
*Rxvt*visualBell:       false
*Rxvt*URgentOnBell:     true
! Copy / Paste keybindings
 *Rxvt*.iso14755: False
